# Android
.gradle/
build/
captures/
*.apk
*.aar
*.jks
local.properties
.navigation/

# Go
bin/
*.exe
*.so
vendor/

# IDE
.idea/
*.iml
.DS_Store

android/app/src/main/assets/default_configs.json

android/local.properties
