
*.cpp linguist-detectable
*.hpp linguist-documentation
*.c linguist-documentation
*.h linguist-documentation

# Ignore CMake files in statistics
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored

# Ensure Go and Kotlin are treated as the primary languages
*.go linguist-detectable
*.kt linguist-detectable
