<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:fullBackupContent="false"
        android:theme="@style/Theme.Vaydns">

        <activity
            android:name=".ConfigEditorActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Config parameters">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".DnsScannerActivity"
            android:label="Scanner parameters"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".TunnelSettingsActivity"/>
        <activity android:name=".GlobalSettingsActivity"/>

        <activity
            android:name=".AppSelectorActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PasteResolversActivity"
            android:exported="false"
            android:theme="@style/Theme.Vaydns" />

        <activity
            android:name=".MultipathResolverActivity"
            android:exported="false"
            android:theme="@style/Theme.Vaydns" />

        <activity
            android:name=".DnsScannerResultActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />

        <activity
            android:name=".ResolverTransferActivity"
            android:exported="false" />

        <service
            android:name=".VayVpnService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:process=":vpn"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="VPN Tunneling for DNS bypass" />
        </service>

        <service
            android:name=".VayProxyService"
            android:process=":proxy"  android:foregroundServiceType="specialUse"
            android:exported="false" />

        <service
            android:name=".VayPingService"
            android:exported="false"
            android:process=":ping" />

        <service
            android:name=".VayRowPingService"
            android:exported="false"
            android:process=":rowping" />

        <service
            android:name=".VayDomainService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:process=":domain_scanner" />

        <service
            android:name=".VayScannerService"
            android:process=":scanner"
            android:exported="false"
            android:foregroundServiceType="dataSync">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Continuous DNS Scanning" />
        </service>

        <service
            android:name=".CFScannerService"
            android:exported="false" />

        <service
            android:name=".CFScannerService"
            android:exported="false" />

        <activity
            android:name=".CloudflareScannerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false" />

        <activity
            android:name=".CfIpManagerActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

    </application>

</manifest>